{
  "useTabs": false, //
  "printWidth": 80, // длина строки - 80
  "tabWidth": 2, // длина "таба" - 2 пробела
  "singleQuote": true, // использовать одинарные кавычки
  "trailingComma": "es5", // запятая в последней строке
  "jsxBracketSameLine": false, // закрывающийся jsx в этой же строке
  "parser": "flow", // парсер - flow
  "semi": false // точка с запятой - нет
}
