.popular {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    height: 95vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
  }

.popular-card {
    display: flex;
    padding: 5px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.popular-card__description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
    margin-left: 20px;
}

.popular-card__description button {
    outline: none;
}

.popular-date {
    margin-bottom: 0;
    font-size: 14px;
    color: #8a8a8a;
}

.popular-genre {
    margin-bottom: 0;
    font-size: 13px;
    color: #8a8a8a;
}

.popular__read-button {
    margin: 5px;
    background-color: #121212;
    border: none;
    width: 150px;
    height: 40px;
}

.popular__favourite-button {
    margin: 5px;
    background-color: #121212;
    color: #FF0000;
    border: none;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.movie-link {
    text-decoration: none;
    color: #999999;
}

.popular__read-button:hover, .popular__favourite-button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.movie-link:hover {
    color: #b6b5b5;
    transition: 0.15s;
}

.popular-pagination {
    text-align: center;
    position: sticky;
    bottom: 5px;
}

.popular-pagination li {
    background-color: #1c1c1c;
    border: none;
}

.popular-pagination li a {
    color: #fff;
}

.popular-pagination li:hover {
    text-decoration: none;
}
