.loader {
    display: flex;
    flex-direction: column;
}

.loader-card {
    display: flex;
    padding: 5px;
    padding-right: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.image {
    min-width: 185px;
    height: 278px;
    animation: 0.5s anim ease-in-out infinite;
}

.loader-card__description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
    width: 98%;
    margin-left: 20px;
}

.loader-card__description div {
    animation: 0.5s anim ease-in-out infinite;
}

.title {
    max-width: 40%;
    height: 20px;
    margin-bottom: 5px;
}

.loader-date {
    margin-bottom: 0;
    height: 14px;
    max-width: 200px;
    color: #8a8a8a;
}

.loader-genre {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 180px;
    height: 13px;
    color: #8a8a8a;
}

.loader-description {
    height: 14px;
    max-width: 98%;
}

@keyframes anim {
    0%{
        background-color: rgba(165,165,165,.1);
    }
    50%{
        background-color: rgba(165,165,165,.3);
    }
    100%{
        background-color: rgba(165,165,165,.1);
    }
}